[worldserver]

###################################################################################################
# ParagonLevel CONFIG
#
#     ParagonLevel.Enable
#         Description: Enable the Paragon Level system.
#         Default:     0 - (Disabled)
#                      1 - (Enabled)
#

ParagonLevel.Enable = 1

#
#     ParagonLevel.LevelUpSpell
#         Description: Cast a spell on level up (visual)
#         Default:     0 - (Disabled)
#                     >0 - (Enabled)
#

ParagonLevel.LevelUpSpell = 47292

#
#     ParagonLevel.RestoreStatsOnLevelUp
#         Description: Restore player to full health and power when paragon level up is triggered
#         Default:     0 - (Disabled)
#                      1 - (Enabled)
#

ParagonLevel.RestoreStatsOnLevelUp = 0

#
#     ParagonLevel.PlayerNameTag
#         Description: Enable the Paragon Level system.
#         Default:     "" - (Disabled)
#                      " : P " - (Enabled - will be displayed like "Leroy : P 12" where 12 is the player Leroy's ParagonLevel)
#

ParagonLevel.PlayerNameTag = " : P "

#
###################################################################################################
